parameters:
  environment: ''
  azureSubscription: ''

jobs:
- job: MigrateDB
  displayName: Database Migrations
  steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: ${{ parameters.azureSubscription }}
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          echo "Run DB migrations for ${{ parameters.environment }}"
