parameters:
  environmentName: ""
  artifactName: "webapp"
  staticWebAppToken: ""

steps:
  - download: current
    artifact: ${{ parameters.artifactName }}
    displayName: Download frontend artifact

  - task: AzureStaticWebApp@0
    displayName: Deploy Static Web App (${{ parameters.environmentName }})
    inputs:
      app_location: "$(Pipeline.Workspace)/${{ parameters.artifactName }}"
      output_location: "."
      azure_static_web_apps_api_token: ${{ parameters.staticWebAppToken }}
