parameters:
  environment: ''
  azureSubscription: ''
  location: ''
  templateFile: ''
  parametersFile: ''
  deploymentName: ''

jobs:
- job: DeployInfra
  displayName: Deploy Infrastructure (${{ parameters.environment }})
  steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: ${{ parameters.azureSubscription }}
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az deployment sub create \
            --location ${{ parameters.location }} \
            --template-file ${{ parameters.templateFile }} \
            --parameters ${{ parameters.parametersFile }} \
            --name ${{ parameters.deploymentName }}
